<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <div id="space-all">
            <div id="name-area">
                <p>Log in to your account</p>
            </div>
            <div id="input-area">
                <p><input class="input-param" type="text" placeholder="Login"></p>
                <p><input class="input-param" type="password" placeholder="Password"></p>
            </div>
            <div id="button-area">
                <button id="sing-in-button">Log in</button>
            </div>
        </div>
    </body>
</html>