{% if data %}
<div id="window-html">
    <div class="window" id="button-back">
    </div>
    <div class="window" id="window_param">
        <div id="name-connections-area"><label id="name-connection-page-area">{{data.name}}</label></div>
        <div class="window cssload-loader"></div>
    </div>
    <script>

        $.get('/value/list_volue/{{data.id}}', function (data) {
            data = JSON.parse(data)
            $('.cssload-loader').hide("slow")
            add_all_area_to_window(data)
            $('#window_param').append(`
                    <div id="change-hight" class="change-hight-min"><div id="button-add-value" class="normal-color"><div id="text-button-value">Add area...</div></div></div>
                `)
            $('#button-add-value').click(function () {
                now_class = $(this.parentElement).attr("class");
                button_js = this
                text_button_js = button_js.firstChild
                if (now_class == "change-hight-min") {
                    $(this.parentElement).removeClass('change-hight-min').addClass('change-hight-max');
                    add_form_pole(this.parentElement)
                } else {
                    $(this.parentElement).removeClass('change-hight-max').addClass('change-hight-min');
                    delete_form_pole()
                }
                if ($(text_button_js).text() == 'Add area...') {
                    $(button_js).removeClass('normal-color').addClass('red-color')
                    $(text_button_js).text('Cencel')
                } else {
                    $(text_button_js).text('Add area...')
                    $(button_js).removeClass('red-color').addClass('normal-color')
                }

            })
        });

        function add_form_pole(object_add, data_pole) {
            $(object_add).append(`
                <div id="all-in-param">
                    <div class="form-pole">
                        <div class="pole">
                            <label>Name area:</label>
                            <input type="text" id="add_area_name">
                        </div>
                        <div class="pole">
                            <label>Area memory PLC:</label>
                            <input type="text" id="add_area_area">
                        </div>
                        <div class="pole">
                            <label>DB:</label>
                            <input type="number" id="add_area_db">
                        </div>
                    </div>
                    <div class="form-pole">
                        <div class="pole">
                            <label>Start:</label>
                            <input type="number" id="add_area_start">
                        </div>
                        <div class="pole">
                            <label>Size:</label>
                            <input type="number" id="add_area_size">
                        </div>
                    </div>
                </div>
                
                <div id="form-button">Save</div>
                `)
            $('#all-in-param').hide()
            $('#form-button').hide()
            $('#all-in-param').show('slow')
            $('#form-button').show('slow')
            $('#form-button').click(function () {
                data = {
                    name: $('#add_area_name').val(),
                    // connection_id: {{data.id}},
                    area_memory: $('#add_area_area').val(),
                    db: parseInt($('#add_area_db').val()),
                    start: parseInt($('#add_area_start').val()),
                    size: parseInt($('#add_area_size').val())
                }
                // $.ajax({
                //     url:"/value/add_area",
                //     type:"POST",
                //     data:JSON.stringify(data),
                //     contentType:"application/json; charset=utf-8",
                //     dataType:"json"
                // }).done(function() {
                //     console.log(1)
                // });
            })
        }
        function delete_form_pole(object_add, data_pole) {
            $("#all-in-param").remove()
            $("#form-button").remove()
        }

        function add_all_area_to_window(all_area) {
            all_area.forEach(area => {
                // console.log(area)
                $('#window_param').append(`
                <div id="area` + area.id + `" class="area_lable">
                    <div class="lable_param">Name: ` + area.name + `</div>
                    <div class="lable_param">Memory area: ` + area.area_memory + `</div>
                    <div class="lable_param">DB: ` + area.db + `</div>
                    <div class="lable_param">Start: ` + area.start + `</div>
                    <div class="lable_param">Size: ` + area.size + `</div>
                    <div id="change_area" value="` + area.id + `"></div>
                    <div id="delete_area" value="` + area.id + `"></div>
                </div>
                `)
            });
        }

        $('#button-back').click(function () {
            $('#window-html').remove();
        })
    </script>
</div>

{% else %}
<div>
    <div class="window" id="button-back">
    </div>
    <div class="window" id="window_param">
        <div id="name-connections-area"><label id="name-connection-page-area">{{data}}</label></div>
        <div class="window cssload-loader"></div>
    </div>

</div>
{% endif %}