.window {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#button-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477);
}
#window_param {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
    border-radius: 6px;
    z-index: 99999;
    width: 94%;
    height: 94%;
    background-color: #8e8d96;
    overflow-y: auto;
}

.area_lable {
    display: flex;
    align-items: center;
    width: 98%;
    height: 35px;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 6px;
    background-color: #4343446c;
}

.head {
    background-color: #8e8d96;
}

.lable_param {
    width: 16%;
    height: 60%;
    vertical-align: middle;
    text-align:center;
    border-radius: 3px;
    background-color: #4343446c;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
    transition: width .1s;
}

.delete_area {
    background:url('/static/img/delete-icon.svg') no-repeat center center;
    height: 55%;
    width: 3%;
    border-radius: 3px;
    background-color: rgba(231, 55, 55, 0.812);
    margin: 1%;
    transition: box-shadow .1s;
}

.delete_area:hover {
    box-shadow: 0px 0px 5px rgba(53, 53, 4, 0.508);
}

.delete_area:active {
    box-shadow: 0px 0px 1px rgba(53, 53, 4, 0.508);
}

.change_area
{
    background:url('/static/img/icons8-edit.svg') no-repeat center center;
    height: 55%;
    width: 3%;
    border-radius: 3px;
    background-color: rgba(229, 255, 0, 0.454);
    margin: 1%;
    transition: box-shadow .1s;
}

.change_input {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.change_button {
    margin-right: 1%;
    width: 9.5%;
}

.save_change {
    background-color: green;
}

.cancel_change {
    background-color: red;
}

.no_visible_first {
    height: 55%;
    width: 3%;
    border-radius: 3px;
    margin: 1%;
}

.change_area:hover {
    box-shadow: 0px 0px 5px rgba(53, 53, 4, 0.508);
}

.change_area:active {
    box-shadow: 0px 0px 1px rgba(53, 53, 4, 0.508);
}

.variables_area {
    text-align:center;
    vertical-align: middle;
    height: 55%;
    width: 80px;
    border-radius: 3px;
    background-color: rgba(220, 222, 203, 0.65);
    margin: 1%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    transition: box-shadow .1s;
}

.no_visible_sec {
    height: 55%;
    width: 80px;
    border-radius: 3px;
    margin: 1%;  
}

.variables_area:hover {
    box-shadow: 0px 0px 7px rgba(53, 53, 4, 0.66);
}

.variables_area:active {
    box-shadow: 0px 0px 1px rgba(53, 53, 4, 0.508);
}



::-webkit-scrollbar { width: 3px; height: 3px; border-radius: 6px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: rgba(153, 153, 153, 0); border-radius: 6px; }
::-webkit-scrollbar-track-piece { background-color: #ffffff00; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

#button-add-value {
    display: table;
    width: 100%;
    height: 35px;
    border-radius: 6px;
}

.normal-color {
    background-color: #4343446c;
    transition: background-color .5s;
}

.normal-color:hover {
    background-color: #43434494;
    box-shadow: inset 0px 0px 10px #33916aa5;
}
.normal-color:active {
    background-color: #434344c5;
}

.red-color {
    background-color: #d313338b;
    transition: background-color .5s;
}

.red-color:hover {
    background-color: #d31333ca;
    box-shadow: inset 0px 0px 10px #d31333d8;
}
.red-color:active {
    background-color: #d31333ec;
    box-shadow: inset 0px 0px 10px #d31333eb;
}


#text-button-value {
    font-size: 25px;
    text-align:  center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

}
.change-hight-min {
    display: table;
    width: 98%;
    height: 35px;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 6px;
    background-color: #4343446c;
    transition: height .3s;
}

.change-hight-max {
    display: table;
    width: 98%;
    height: 300px;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 6px;
    background-color: #4343446c;
    transition: height .3s;
}

#name-connections-area {
    margin: 1%;
    width: 98%;
    height: 30px;
}

#name-connections-area label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 2px solid #4343446c;
    border-radius: 3px;
}

.form-pole {
    /* display: flex; */
    /* float: left; */
    width: 50%;
    flex-direction: row;
}
#all-in-param {
    /* float: left; */
    display: flex;
    width: 100%;
    height: 200px;
}
#form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7aa899;
    border: 1px solid #7aa899;
    border-radius: 6px;
    height: 25px;
    width: 20%;
    margin-left: 40%;
    transition: background-color .3s;
    transition: box-shadow .3s;
    color: white;
    font-size: 18px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
#form-button:hover {
    background-color: #7aa899c2;
    box-shadow: 0px 0px 10px #434344a5;
}
#form-button:active {
    background-color: #7aa8997e;
    
}

.pole label {
    display: flex;
    /* flex-flow: column wrap; */
    /* justify-content: center; */
    padding-left: 5%;
    padding-top: 1%;
    color: white;
    font-size: 18px;
}

.pole input {
    border:none;
    background:none;
    outline:none;
    margin-top: 5px;
    margin-left: 3%;
    width: 80%;
    height: 20px;
    border-radius: 3px;
    background-color: #4343446c;
    color: white;
    font-size: 18px;
    border: 1px solid #4343446c;
    padding-left: 1%;
}
.pole input:focus {
    background-color: black;
    border: 1px solid;
}



.cssload-loader{
	position: absolute;
    top: 45%;
    left: 45%;
	width: 12px;
	height: 12px;
	left: 46%;
	left: calc(50% - 6px);
		left: -o-calc(50% - 6px);
		left: -ms-calc(50% - 6px);
		left: -webkit-calc(50% - 6px);
		left: -moz-calc(50% - 6px);
	
	border-radius: 12px;
	background-color: rgb(0,0,0);
	transform-origin:	50% 50%;
		-o-transform-origin:	50% 50%;
		-ms-transform-origin:	50% 50%;
		-webkit-transform-origin:	50% 50%;
		-moz-transform-origin:	50% 50%;
	animation: cssload-loader 1.15s ease-in-out infinite;
		-o-animation: cssload-loader 1.15s ease-in-out infinite;
		-ms-animation: cssload-loader 1.15s ease-in-out infinite;
		-webkit-animation: cssload-loader 1.15s ease-in-out infinite;
		-moz-animation: cssload-loader 1.15s ease-in-out infinite;
}

.cssload-loader:before{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top: 0px;
	left: -24px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.cssload-loader:after{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top: 0px;
	left: 24px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


@keyframes cssload-loader{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-loader{
		0%{-o-transform:rotate(0deg);}
		50%{-o-transform:rotate(180deg);}
		100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-loader{
		0%{-ms-transform:rotate(0deg);}
		50%{-ms-transform:rotate(180deg);}
		100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-loader{
		0%{-webkit-transform:rotate(0deg);}
		50%{-webkit-transform:rotate(180deg);}
		100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-loader{
		0%{-moz-transform:rotate(0deg);}
		50%{-moz-transform:rotate(180deg);}
		100%{-moz-transform:rotate(180deg);}
}
